<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var newHostLink = "https://gasolineras.ieepo.online";

            // Si la página se carga en el host antiguo, 
            // muestra un enlace y oculta el contenido
            if (window.location.hostname !== newHostLink) {
                document.body.innerHTML = '<div style="text-align: center;'+
                    ' margin-top: 50px;">' +
                    '<h1>Esta página se ha movido.</h1>' +
                    '<p>Por favor, visita nuestra nueva ubicación:</p>' +
                    '<p><button id="redirectButton" ' +
                                'style="font-size: 24px; ' +
                                        'padding: 10px 20px; ' +
                                        'cursor: pointer; ' +
                                        'background-color: #007bff; ' +
                                        'color: white; ' +
                                        'border: none; ' +
                                        'border-radius: 5px;">' +
                        newHostLink +
                    '</button></p>' +
                    '</div>';

                // Evento del clic
                document.getElementById('redirectButton').addEventListener('click', function () {
                    window.location.replace(newHostLink);
                });
            }
            // Si no es el host antiguo, la página se cargará normalmente
        });
    </script>
</head>

<body>
</body>
<script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</html>
